<template>

    <div class="flex h-full w-full">

        <aside class="flex-none flex flex-col justify-between border-r overflow-y-auto">

            <div class="flex flex-col justify-center items-center">

                <a class="p-3 flex-none flex justify-center items-center hover:bg-gray-100 cursor-pointer border-b">
                    <h2 class="mx-auto text-lg font-bold">КМД</h2>
                </a>

                <router-link :to="{name: 'data-model-manager'}"  active-class="bg-gray-200"
                             class="w-full p-4 flex justify-center items-center hover:shadow cursor-pointer">
                    <svg class="h-8 w-8 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"/>
                        <polyline points="2 17 12 22 22 17"/>
                        <polyline points="2 12 12 17 22 12"/>
                    </svg>
                </router-link>

                <router-link :to="{name: 'data-manager'}"  active-class="bg-gray-200"
                             class="w-full p-4 flex justify-center items-center hover:shadow cursor-pointer">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                    </svg>
                </router-link>

                <router-link :to="{name: 'query-manager'}" active-class="bg-gray-200"
                             class="w-full p-4 flex justify-center items-center hover:shadow cursor-pointer">
                    <svg class="h-8 w-8 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <circle cx="10" cy="10" r="7"/>
                        <line x1="21" y1="21" x2="15" y2="15"/>
                    </svg>
                </router-link>

            </div>

            <div class="flex flex-col ">
<!--                &lt;!&ndash;Нижнее меню&#45;&#45;-->
            </div>

        </aside>

        <div class="flex-grow min-w-0">
            <router-view/>
        </div>

    </div>

</template>
