<template>

    <div class="flex ">

        <svg class="h-16 w-16 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="12 2 2 7 12 12 22 7 12 2"/>
            <polyline points="2 17 12 22 22 17"/>
            <polyline points="2 12 12 17 22 12"/>
        </svg>

        <div>
            Модель данных
        </div>


    </div>

</template>

<script>
import TypeIcon from "@/components/TypeIcon";
import ADialog from "@/components/ADialog";
import IconLoading from "@/components/IconLoading";
import IconDelete from "@/components/IconDelete";
import IconAdd from "@/components/IconAdd";
import ButtonSubmit from "@/components/ButtonSubmit";
import ButtonDelete from "@/components/ButtonDelete";
import api from '@/api'

export default {
    components: {ButtonDelete, ButtonSubmit, IconAdd, IconDelete, IconLoading, TypeIcon, ADialog },

    props: {
        key: {
            required: true
        }
    },

    data: () => ({

        loading: false,

        selectedModel: null,

        fields: [],

        types: [{
            title: "Text",
            subtitle: "Single line",
            type: "single-line",
        },{
            title: "Text",
            subtitle: "Multi line",
            type: "multy-line",
        },{
            title: "Text",
            subtitle: "Rich text",
            type: "rich-text",
        },{
            title: "Number",
            subtitle: "Integer",
            type: "integer",
        },{
            title: "Number",
            subtitle: "Float",
            type: "float",
        },{
            title: "Date",
            subtitle: "Timestamp",
            type: "timestamp",
        }],

        isFieldFormOpened: false,
        currentField: null,
        fieldForm: {
            name: null,
            description: null,
            type: "float",
            type_title: "Float",
            type_subtitle: "Number",
        },
        fieldDeleteConfirmation: false,
    }),

    mounted() {
        this.loadModel()
    },

    computed: {
        fieldFormIsReady() {
            return this.fieldForm.name
        },
    },

    methods: {
        loadModel() {
            return api.kmd.getModel({key: this.key})
            .then(model => {
                this.selectedModel = model;
                return this.loadModelFields(model)
            })
        },

        loadModelFields(model) {
            return api.kmd.getModel(model).then(fields => { this.fields = fields || []})
        },

        onAddField({type, title, subtitle }) {
            this.fieldForm.name = null
            this.fieldForm.description = null
            this.fieldForm.type = type
            this.fieldForm.type_title = title
            this.fieldForm.type_subtitle = subtitle
            this.isFieldFormOpened = true;
        },

        onFieldFormSubmit() {
            this.loading = true;
            api.kmd.createField(this.selectedModel, this.fieldForm)
                .then(() => {
                    this.isFieldFormOpened = false;
                    return this.loadModelFields(this.selectedModel)
                })
                .finally(() => {
                    this.loading = false;
                })
        },


        onDeleteField(field) {
            this.currentField = Object.assign({}, this.currentField, field)
            this.fieldDeleteConfirmation = true;
        },


        onFieldDeleteSubmit() {
            this.loading = true;
            api.kmd.deleteField(this.selectedModel, this.currentField)
                .then(() => {
                    this.fieldDeleteConfirmation = false;
                    return this.loadModelFields(this.selectedModel)
                })
                .finally(() => {
                    this.loading = false;
                })
        },

    }
}
</script>

