<template>

    <div class="flex ">

        <!-- Редактор модели -->
        <div v-if="selectedModel" class="h-screen flex-grow flex flex-col">

            <!-- Название модели -->
            <header class="flex-none border-b group">
                <div class="p-3 flex-none flex flex-row space-x-4 justify-start items-end border-b">
                    <div class="text-lg font-semibold">{{ selectedModel.name }}</div>
                    <div class="text-sm">{{ selectedModel.description }}</div>
                    <icon-delete class="invisible group-hover:visible " @click="modelDeleteConfirmation=true"/>
                </div>
            </header>

            <!-- Редактор полей -->
            <div class="flex-grow flex flex-row">
                <!-- Спосок полей модели-->
                <div class="p-5 flex-grow flex flex-col overflow-y-auto">

                    <div class="w-96 mx-auto space-y-4">

                        <label class="mb-6 flex items-center text-gray-400 cursor-pointer" :class="{'text-gray-700': showSystemFields}" @click="showSystemFields = !showSystemFields">
                            <svg v-if="!showSystemFields" class="h-6 w-6 " viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"/>
                            </svg>
                            <svg v-else class="h-6 w-6 " viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="9 11 12 14 22 4"/>
                                <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"/>
                            </svg>
                            <span class="ml-4">Показывать системные поля</span>
                        </label>

                        <template v-for="field in fields">
                            <template v-if="field.user_field || showSystemFields">
                                <div class="group p-3 flex flex-row justify-between items-center w-96 mx-auto block shadow hover:shadow-md cursor-pointer"
                                     :class="{'bg-gray-50': !field.user_field}"
                                >
                                    <div class="flex flex-row">
                                        <div class="w-12 h-12 flex mr-2">
                                            <type-icon :type="field.apl_type"/>
                                        </div>
                                        <div class="self-center flex-grow flex-box center">
                                            <div class="">{{ field.name }} <span v-if="field.description" class="text-sm text-gray-600"> / {{ field.description }}</span></div>
                                            <div class="text-gray-400 text-xs">{{ field.apl_type }}</div>
                                        </div>
                                    </div>
                                    <div class="invisible group-hover:visible">
                                        <icon-delete @click="onDeleteField(field)"/>
                                    </div>
                                </div>
                            </template>
                        </template>

                    </div>

                </div>

                <!-- Спосок доступных полей -->
                <aside class="border-l overflow-y-auto">
                    <field-palette @add-field="onAddField"/>
                </aside>

            </div>

        </div>

        <a-dialog v-model="fieldDeleteConfirmation" title="Подверждение" @close="fieldDeleteConfirmation = false">
            <div>Удалить поле?</div>

            <template slot="actions">
                <button-delete :loading="loading"  @click="onFieldDeleteSubmit">Удалить</button-delete>
            </template>
        </a-dialog>

    </div>

</template>

<script>
import TypeIcon from "@/components/TypeIcon";
import ADialog from "@/components/ADialog";
import IconLoading from "@/components/IconLoading";
import IconDelete from "@/components/IconDelete";
import IconAdd from "@/components/IconAdd";
import ButtonSubmit from "@/components/ButtonSubmit";
import ButtonDelete from "@/components/ButtonDelete";
import api from '@/api'
import FieldPalette from "@/components/FieldPalette";

export default {
    components: {FieldPalette, ButtonDelete, ButtonSubmit, IconAdd, IconDelete, IconLoading, TypeIcon, ADialog },

    props: {
        modelKey: {
            required: true
        }
    },

    data: () => ({

        loading: false,

        selectedModel: null,

        fields: [],
        showSystemFields: false,

        currentField: null,
        fieldDeleteConfirmation: false,
    }),

    watch: {
        modelKey: {
            handler() {
                this.loadModel()
            },
            immediate: true,
        },
    },

    methods: {
        loadModel() {
            return api.kmd.getModel(this.modelKey)
            .then(model => {
                this.selectedModel = model;
                this.fields = model.fields || []
            })
        },

        onDeleteField(field) {
            this.currentField = Object.assign({}, this.currentField, field)
            this.fieldDeleteConfirmation = true;
        },

        onFieldDeleteSubmit() {
            this.loading = true;
            api.kmd.deleteField(this.selectedModel.key, this.currentField.key)
                .then(() => {
                    this.fieldDeleteConfirmation = false;
                    return this.loadModel()
                })
                .finally(() => {
                    this.loading = false;
                })
        },

        onAddField(fieldForm) {
            api.kmd.createField(this.selectedModel.key, fieldForm)
                .then(() => {
                    return this.loadModel()
                })
                .finally(() => {
                    this.loading = false;
                })
        },


    }
}
</script>

