<template>

    <div class="flex ">

        <!-- Список моделей -->
        <aside class="w-60 flex-none flex flex-col justify-start  text-gray-700  border-r overflow-y-auto">

            <a class="p-3 flex-none flex flex-row justify-between items-center cursor-pointer border-b">
                <div class="text-lg font-bold">Модель</div>

                <div @click="onAddModel" class="flex-none hover:shadow-md cursor-pointer">
                    <icon-add/>
                </div>
            </a>

            <model-list :models="models" @select="selectModel"/>

        </aside>

        <!-- Редактор модели -->
        <div class="h-screen flex-grow flex flex-col">
            <router-view/>
        </div>

        <a-dialog v-model="isModelFormOpened" title="Создать модель" @close="isModelFormOpened=false">

            <div class="space-y-6 w-4/5 ">
                <div>
                    <div class="font-semibold text-sm">Имя модели</div>
                    <div class="text-gray-500 text-sm mb-2">Название таблицы</div>
                    <input v-model="modelForm.name"
                           class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                </div>
                <div>
                    <div class="font-semibold text-sm">Код</div>
                    <div class="text-gray-500 text-sm mb-2">Код таблицы латинскими буквами без пробелов</div>
                    <input v-model="modelForm.key"
                           class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                </div>
                <div>
                    <div class="font-semibold text-sm">Описание модели  <span class="text-gray-500 text-xs">(Необязательно)</span></div>
                    <div class="text-gray-500 text-sm mb-2">Любой текст</div>
                    <input v-model="modelForm.description"
                           class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                </div>
                <div class="h-12"></div>
            </div>

            <template slot="actions">
                <button-submit :loading="loading" :disabled="!formIsReady" @click="onModelFormSubmit">Сохранить</button-submit>
            </template>

        </a-dialog>

    </div>

</template>

<script>
import TypeIcon from "@/components/TypeIcon";
import ADialog from "@/components/ADialog";
import IconLoading from "@/components/IconLoading";
import IconDelete from "@/components/IconDelete";
import IconAdd from "@/components/IconAdd";
import ButtonSubmit from "@/components/ButtonSubmit";
import ButtonDelete from "@/components/ButtonDelete";
import api from '@/api'
import {slugify} from "transliteration";
import ModelList from "@/views/kmd/components/ModelList";

export default {
    components: {ModelList, ButtonDelete, ButtonSubmit, IconAdd, IconDelete, IconLoading, TypeIcon, ADialog },

    data: () => ({

        loading: false,

        models: [],

        fields: [],

        isModelFormOpened: false,
        modelForm: {
            name: null,
            key: null,
            description: null,
        },

    }),

    watch:{
        'modelForm.name'(t) {
            this.modelForm.key = slugify(t)
        },
    },

    mounted() {
        this.loadAllModels()
    },

    computed: {
        formIsReady() {
            return this.modelForm.name
        },
    },

    methods: {
        loadAllModels() {
            return api.kmd.getAll()
                .then(models => this.models = models || [])
        },

        selectModel(model) {
            if(model)
                this.$router.push({name: 'data-model-editor', params: {modelKey: model.key}})
        },

        onAddModel() {
            this.modelForm.name = null;
            this.modelForm.description = null;
            this.isModelFormOpened = true;
        },

        onModelFormSubmit() {
            this.loading = true;
            api.kmd.createModel(this.modelForm)
            .then(() => {
                this.isModelFormOpened = false;
                return this.loadAllModels()
            })
            .finally(() => {
                this.loading = false;
            })
        },

    }

}
</script>

