<template>

    <div class="w-full h-full flex flex-row ">

        <div class=" flex flex-grow relative">
            <div id="bpmnio" ref="bpmnio" class="bpmnio w-full"/>

            <div v-if="detailsMenu" class="rounded shadow-md border absolute w-48 top-10 right-10 bg-white">
                <div class="p-4 border_b text-sm ">{{selectedType}}</div>

                <div class="p-4">
                    <div class="text-xs">Название</div>
                    <input v-model="selectedObject.name" @input="onChangeName" class="form-input w-full"/>
                </div>

                <div class="p-4" v-if="needFields">
                    <div class="flex justify-between items-center">
                        <div class="text-xs">Поля</div>
                        <icon-add @click="fieldPaletteShown = true"/>
                    </div>

                    <div class="space-y-2">
                        <template v-for="(field, idx) in selectedStageFields">

                            <div class="flex justify-between items-center hover:shadow p-2 group">
                                <div class="flex items-center">
                                    <type-icon class="w-8 pr-4 flex justify-center " :type="field.type"/>
                                    <div class="text-xs ">{{ field.name }}</div>
                                </div>
                                <icon-delete class="opacity-20 group-hover:opacity-100" @click="onRemoveField(idx)"/>
                            </div>

                        </template>
                    </div>

                </div>
            </div>
        </div>

        <!-- Спосок доступных полей -->
        <aside class="border-l h-full flex flex-col " v-if="fieldPaletteShown">
            <div class="p-1 flex-none">
                <icon-close @click="fieldPaletteShown = false"/>
            </div>
            <div class="flex-grow overflow-y-auto h-full ">
                <field-palette @add-field="onAddField"/>
            </div>
        </aside>

    </div>

</template>

<script>

import BpmnModeler from 'bpmn-js/lib/Modeler';

import applinerExtension from './appliner.json';

import api from '@/api'
import _ from "lodash";
import TypeIcon from "@/components/TypeIcon";
import IconDelete from "@/components/IconDelete";
import FieldPalette from "@/components/FieldPalette";
import IconClose from "@/components/IconClose";
import IconAdd from "@/components/IconAdd";


export default {
    components: {IconAdd, IconClose, FieldPalette, IconDelete, TypeIcon},
    props: {
        processKey: {
            required: true
        },
        processName: {
            required: true
        },
    },

    data: () => ({
        modeler: null,
        moddle: null,
        modeling: null,
        eventBus: null,

        content: null,

        detailsMenu: false,
        selectedObject: {},
        selectedType: null,
        selectedElement: null,

        selectedStageFields: [],

        codeValue: null,

        fieldPaletteShown: false,
    }),

    mounted() {
        this.initBpmnIO();
        this.loadProcess();
    },

    destroyed() {
        this.modeler && this.modeler.detach();
    },

    computed: {
        needFields() {
            return ['bpmn:UserTask', 'bpmn:StartEvent'].includes(this.selectedType)
        },

        needCode() {
            return ['bpmn:SequenceFlow'].includes(this.selectedType)
        },
    },

    methods: {

        loadProcess() {
            api.processes.readContent(this.processKey)
            .then(content => {
                return this.content = content
            }).then(content => {
                return content
                    ? this.modeler.importXML(content)
                    : this.modeler.createDiagram();
            })
        },

        initBpmnIO() {
            this.modeler = new BpmnModeler({
                container: this.$refs['bpmnio'],
                moddleExtensions: {
                    appliner: applinerExtension
                }
            });

            this.moddle = this.modeler.get('moddle');
            this.modeling = this.modeler.get('modeling');
            this.eventBus = this.modeler.get('eventBus');
            const events = [
                'element.hover',
                'element.out',
                'element.dblclick',
                'element.mousedown',
                'element.mouseup'
            ];
            events.forEach((event) => {
                this.eventBus.on(event, function(e) {
                    // console.log(event, 'on', e.element.businessObject);
                });
            });

            this.modeler.on('commandStack.changed', this.onChanged);
            this.modeler.on('element.click', this.onElementClick);
        },

        setName(id, name) {
            const definitions = this.modeler.getDefinitions().get('rootElements');
            for (const definition of definitions) {
                definitions[0].set('id', id)
                definitions[0].set('name', name)
            }
        },

        save() {
            this.setName(this.processKey, this.processName);
            const save = () => this.modeler.saveXML()
                .then(({xml}) => {
                    return api.processes.updateContent(this.processKey, xml);
                })

            _.debounce(save, 1000, {})()
        },

        onChanged() {
            this.save()
        },

        onElementClick({element}) {
            // bpmn:SequenceFlow
            this.selectedElement = element
            if (['bpmn:UserTask', 'bpmn:StartEvent'].includes(element.type)) {

                this.selectedType = element.type;
                this.selectedObject = element.businessObject

                this.detailsMenu = true;

                if (!this.selectedObject.extensionElements) {
                    this.selectedObject.extensionElements = this.moddle.create('bpmn:ExtensionElements');
                    this.save()
                }

                const formElement = this.selectedObject.extensionElements.get('values')[0]
                if (formElement) {
                    const fields = formElement.get('fields')
                    this.selectedStageFields = fields.map(field => ({
                        type: field.type,
                        key: field.key,
                        name: field.name,
                        description: field.description,
                    }))
                }
            }
            else if ([ 'bpmn:SequenceFlow'].includes(element.type)) {

                // this.selectedType = element.type;
                // let businessObject = element.businessObject;
                // this.detailsMenu = true;
                // this.selectedObject = Object.assign({}, businessObject)
                // this.codeValue = this.selectedObjectForm && this.selectedObjectForm.value

            } else {
                this.detailsMenu = false;
            }
        },


        onChangeName() {
            this.eventBus.fire('element.changed', {
                element: this.selectedElement
            });
            this.onSaveNode()
        },

        onSaveNode() {
            const formElement = this.makeFormElement();
            this.selectedObject.extensionElements.set('values', [formElement]);
            this.save()
        },

        makeFormElement() {
            return this.moddle.create('appliner:FormData',{
                fields: this.selectedStageFields.map(field => this.moddle.create('appliner:FormField', {
                    type: field.type,
                    key: field.key,
                    name: field.name,
                    description: field.description,
                }))
            });
        },

        mapType(type) {
            return type === 'number' ? 'integer'
                : 'single-line'
        },

        onAddField(data) {
            this.selectedStageFields.push(data)
            this.onSaveNode()
        },

        onRemoveField(idx) {
            this.selectedStageFields.splice(idx, 1)
            this.onSaveNode()
        }
    },

}
</script>

<style lang="scss" >
@import "~bpmn-js/dist/assets/diagram-js.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn.css";

.bpmnio {
    height: 100%;

    #js-properties-panel {
        //width: 400px;
    }

    .djs-overlay-context-pad {
        z-index: 20;
    }

    .properties-panel-parent {
        border-left: 1px solid #ccc;
        overflow: auto;
        &:empty {
            display: none;
        }
        > .djs-properties-panel {
            padding-bottom: 70px;
            min-height:100%;
        }
    }

}

</style>
