<template>

    <div class="flex h-full w-full">

        <div class="flex-grow min-w-0 flex flex-col">

            <div class="h-14 p-3 flex-none flex flex-row justify-between items-center border-b group">
                <template v-if="selectedProcess.key">

                    <div class="flex justify-between w-full">

                        <div class="flex items-center">
                            <div class="text-lg font-bold"> {{selectedProcess.name}}</div>
                            <div class="text-gray-800 ml-2">/ {{selectedProcess.key}}</div>

                            <div class="flex space-x-2 ml-5">

                                <svg @click="onEdit" class="h-5 w-5 text-yellow-500 cursor-pointer" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M12 20h9"/>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"/>
                                </svg>

                                <svg @click="onDeleteForm" class="h-5 w-5 text-red-500 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                </svg>
                            </div>
                        </div>

                        <div class="flex items-center">
                            <div class="flex space-x-2 ml-5">
                                <svg @click="onDeploy" class="h-6 w-6 text-blue-500 cursor-pointer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"/>
                                    <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"/>
                                    <circle cx="15" cy="9" r="1"/>
                                </svg>
                            </div>
                        </div>

                    </div>

                </template>
            </div>

            <div class="flex-grow">
                <bpmn-editor v-if='selectedProcess.key' :process-key='selectedProcess.key' :process-name="selectedProcess.name"/>
            </div>

        </div>


        <process-dialog ref="newProcessDialog" :proc-key="selectedProcess.key" :proc-name="selectedProcess.name" :loading="loading"/>


        <a-dialog v-model="formDeleteConfirmation" title="Подверждение" @close="formDeleteConfirmation = false">
            <div>Удалить процесс?</div>

            <template slot="actions">
                <button-delete :loading="loading"  @click="onFormDeleteSubmit">Удалить</button-delete>
            </template>
        </a-dialog>



    </div>

</template>

<script>

import IconAdd from "@/components/IconAdd";

import api from '@/api'
import ProcessEditor from "@/views/bpmn/BpmnEditor";
import ADialog from "@/components/ADialog";
import ButtonSubmit from "@/components/ButtonSubmit";
import ButtonDelete from "@/components/ButtonDelete";
import {slugify} from "transliteration";
import ProcessDialog from "@/views/bpmn/ProcessDialog";
import BpmnEditor from "@/views/bpmn/BpmnEditor";

export default {
    components: {BpmnEditor, ProcessDialog, ButtonDelete, ButtonSubmit, ADialog, ProcessEditor, IconAdd, },
    
    props: {
        processKey: {}
    },
    
    data: () => ({

        loading: false,

        project: {
            id: 1
        },

        processes: [],
        selectedProcess: {
            name: null,
            key: null,
        },

        newProcessDialog: false,


        formDeleteConfirmation: false,

    }),

    watch: {
        processKey: {
            handler() {
                this.loadProcess();
            },
            immediate: true
        },

        'fieldForm.name'(t) {
            this.fieldForm.key = slugify(t)
        },

    },
    
    methods: {
        loadProcess() {
            this.selectedProcess = {}
            return api.processes.read(this.processKey)
                .then(process =>  this.selectedProcess = Object.assign({}, this.selectedProcess, process) )
        },

        onEdit() {
            this.$refs.newProcessDialog.open()
                .then(({name, key}) => api.processes.update(this.processKey, {key, name}))
                .then(process => this.$emit('update', process))
        },

        onDeleteForm() {
            this.formDeleteConfirmation = true
        },

        onFormDeleteSubmit() {
            this.loading = true
            api.processes.delete(this.selectedProcess.id)
                .then(() => {
                    this.formDeleteConfirmation = false;
                    this.$emit('update')
                })
                .finally(() => this.loading = false)
        },

        onDeploy() {
            console.log('onDeploy')
            api.builder.rebuild(this.processKey)
        },

    },

    filters: {
    }
}
</script>
