<template>
    <a-dialog v-model="isActive" title="Процесс" @close="isActive=false">

        <div class="space-y-6 w-4/5">
            <div>
                <div class="font-semibold text-sm">Название процесса</div>
                <div class="text-gray-500 text-xs mb-2">Название процесса</div>
                <input v-model="newForm.name" type="text" class="form-input w-full"/>
            </div>
            <div>
                <div class="font-semibold text-sm">Идентификатор</div>
                <div class="text-gray-500 text-xs mb-2">Идентификатор процесса латинскими буквами</div>
                <input v-model="newForm.key" type="text" class="form-input w-full"/>
            </div>
        </div>

        <template slot="actions">
            <button-submit :loading="loading" :disabled="!(newForm.name && newForm.key)" @click="accept">
                Сохранить
            </button-submit>
        </template>

    </a-dialog>
</template>
<script>
import ADialog from "@/components/ADialog"
import ButtonSubmit from "@/components/ButtonSubmit"
import {mapActions} from "vuex";
import {slugify} from "transliteration";

export default {
    components: {ADialog, ButtonSubmit},
    props: {
        loading: {},
        procName: {},
        procKey: {},
    },

    data: () => ({
        isActive: false,
        resolve: null,
        reject: null,

        newForm: {
          name: null,
          key: null,
        },
    }),

    watch: {
        isActive(isActive) {
            if (!isActive) this.reject();
        },

        'newForm.name'(t) {
            this.newForm.key = t && slugify(t)
        },
    },

    methods: {
        ...mapActions('camunda', ['read_processes']),

        open() {
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
                this.isActive = true;

                this.newForm.key = this.procKey;
                this.newForm.name = this.procName;
            });
        },

        accept() {
            this.isActive = false;
            this.resolve({
                name: this.newForm.name,
                key: this.newForm.key,
            });
        },

        cancel() {
            this.isActive = false;
        },

    },

}
</script>