<template>

    <div class="flex h-full w-full">

        <aside class="flex-none flex flex-col w-60 border-r ">

            <div class="h-14 p-3 flex-none flex flex-row justify-between items-center cursor-pointer border-b">
                <div class="text-lg font-bold">Процессы</div>
                <icon-add @click="onAdd"/>
            </div>

            <div class="flex-grow flex flex-col h-full overflow-y-auto">
                <template v-for="item in processes">
                    <div @click="onSelectProcess(item)"
                         class="px-6 py-2 flex flex-col center  w-full cursor-pointer  hover:text-orange-500 group"
                         :class="{'bg-gray-200': selectedProcessKey === item.key}">
                        <div class="">{{item.name}} </div>
                        <div class="text-xs text-gray-500 group-hover:text-orange-500">{{ item.key }}</div>
                    </div>
                </template>

            </div>

        </aside>


        <div class="flex-grow min-w-0 flex flex-col">
            <router-view @update="loadAll"/>
        </div>

        <process-dialog ref="newFormDialog" :loading="loading"/>


        <a-dialog v-model="formDeleteConfirmation" title="Подверждение" @close="formDeleteConfirmation = false">
            <div>Удалить процесс?</div>

            <template slot="actions">
                <button-delete :loading="loading"  @click="onFormDeleteSubmit">Удалить</button-delete>
            </template>
        </a-dialog>



    </div>

</template>

<script>

import IconAdd from "@/components/IconAdd";

import api from '@/api'
import ADialog from "@/components/ADialog";
import ButtonDelete from "@/components/ButtonDelete";
import ProcessDialog from "@/views/bpmn/ProcessDialog";

export default {
    components: {ProcessDialog, ButtonDelete, ADialog, IconAdd, },
    data: () => ({

        loading: false,

        project: {
            id: 1
        },

        processes: [],
        selectedProcessKey: null,

        formDeleteConfirmation: false,

    }),

    mounted() {
        this.loadAll()
    },

    methods: {
        loadAll(current) {
            return api.processes.readAll()
                .then(processes => this.processes = _.orderBy(processes, 'name'))
                .then(() => {
                    if (!this.selectedProcessKey) {
                        if (this.processes && this.processes.length ) this.onSelectProcess(this.processes[0])
                    }
                    else if (current) {
                        if (this.processes && this.processes.length ) {
                            const idx = _.findIndex(this.processes, {key: current.key})
                            this.onSelectProcess(this.processes[idx])
                        }
                    }
                })
        },

        onSelectProcess(process) {
            if (this.selectedProcessKey !== process.key) {
                this.selectedProcessKey = process.key
                this.$router.push({name: 'process-editor', params: {processKey: this.selectedProcessKey}}).catch(()=>{})
            }
        },

        onAdd() {
            this.$refs.newFormDialog.open()
                .then(({name, key}) => api.processes.create(key, name))
                .then(() => this.loadAll())
        },

        onDeleteForm() {
            this.formDeleteConfirmation = true
        },

        onFormDeleteSubmit() {
            this.loading = true
            api.processes.delete(this.selectedProcessKey)
                .then(() => {
                    this.formDeleteConfirmation = false;
                    return this.loadAll();
                })
                .finally(() => this.loading = false)
        },

    },

    filters: {
    }
}
</script>
