<template>

    <div class="flex flex-row w-full h-full">

        <aside  class="flex-none flex flex-col w-72 overflow-y-auto overflow-x-auto border-r">

            <div class="p-3 flex-none flex flex-row justify-between items-center cursor-pointer border-b">
                <div class="text-lg font-bold">Конструктор</div>
            </div>

            <div class="p-4 space-y-6">

                <div>
                    <div>Модель</div>
                    <div class="flex justify-between p-2 border rounded">
                        <div class="">{{currentQuery.model ? currentQuery.model.name : null}}</div>
                        <button class=" cursor-pointer border hover:shadow" @click="onSelectModel">
                            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="1" y="4" width="22" height="16" rx="2" ry="2"/>
                                <line x1="1" y1="10" x2="23" y2="10"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <div>
                    <div>Поля</div>
                    <div class="flex flex-col space-y-2 px-2 py-3 border rounded">
                        <template v-for="field in fields">
                            <label class="flex justify-between items-center cursor-pointer hover:bg-gray-100 hover:shadow p-2">
                                <span class="text-md">{{field.name}} <span class="text-sm text-gray-400">{{field.key}}</span></span>
                                <input v-model="field.checked" @change="onModelChanged" type="checkbox" class="form-checkbox">
                            </label>
                        </template>
                    </div>
                </div>

                <label class="flex justify-between cursor-pointer px-1">
                    <span class="">Одна запись</span>
                    <input v-model="currentQuery.is_single" @change="onModelChanged" type="checkbox" class="form-checkbox">
                </label>

                <label class="flex justify-between cursor-pointer px-1">
                    <span class="">Постраничный вывод</span>
                    <input v-model="currentQuery.use_pagination" @change="onModelChanged" type="checkbox" class="form-checkbox">
                </label>

            </div>


        </aside>

        <div v-if="currentQuery.graph_query" class="flex-grow flex flex-col min-w-0">
            <div class="p-3 flex-none flex flex-row justify-between items-center cursor-pointer border-b">
                <div class="text-lg font-bold">Просмотр</div>
            </div>
            <div class="flex-none flex flex-row justify-around  cursor-pointer">
                <div class="text-sm font-bold w-full p-1 pl-4 border-r border-gray-300"
                     :class="{ 'bg-gray-200': viewMode !== 'json'}"
                     @click="viewMode='json'"
                >JSON</div>
                <div class="text-sm font-bold w-full p-1 pl-4 border-r border-gray-300"
                     :class="{ 'bg-gray-200': viewMode !== 'form'}"
                     @click="viewMode='form'"
                >Form</div>
            </div>

            <div v-if="viewMode === 'json'" class="m-4 p-4 shadow flex-grow overflow-auto whitespace-pre text-sm">
                {{ result }}
            </div>

            <div v-if="viewMode === 'form'" class="flex-grow flex flex-col overflow-auto bg-green-200">
                <div class="flex-none flex flex-row justify-between p-2 bg-white">
                    <div>Форма: {{form}}</div>
                    <div class="shadow cursor-pointer rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <a-dialog v-model="selectModelDialog" title="Выбор модели" @close="selectModelDialog = false">
            <div class="w-64">
                <label v-for="model in models" class="w truncate flex justify-between items-center">
                    {{model.name}}
                    <input name="select-model" :value="model.id" v-model="selectedModelId" type="radio" class="form-radio m-2" />
                </label>
            </div>

            <template slot="actions">
                <button-submit :loading="loading" :disabled="!selectedModelId" @click="onModelSelected">Выбрать</button-submit>
            </template>
        </a-dialog>

    </div>

</template>

<script>
import IconAdd from "@/components/IconAdd";
import ADialog from "@/components/ADialog";
import IconLoading from "@/components/IconLoading";

import _ from 'lodash'
import IconDelete from "@/components/IconDelete";
import ButtonSubmit from "@/components/ButtonSubmit";
import ButtonDelete from "@/components/ButtonDelete";

import api from '@/api'

export default {
    components: {ButtonDelete, ButtonSubmit, IconDelete, ADialog, IconAdd, IconLoading},

    props: {
        queryKey: {},
    },

    data: () => ({

        loading: false,

        currentQuery: {
            name: null,
            key: null,
            description: null,
            fields: [],
            is_single: false,
            use_pagination: false,
        },

        graph_query: null,

        models: [],
        fields: [],

        selectedModelId: null,
        selectModelDialog: false,

        result: null,

        viewMode: 'json',
    }),

    watch: {
        queryKey: {
            handler() {
                this.getQuery()
            },
            immediate: true,
        }
    },

    mounted() {
        api.kmd.getAll().then(models => this.models = models)
    },

    methods: {

        getQuery() {
            return api.kmd.getQuery(this.queryKey)
                .then(this.useQuery)
        },

        useQuery(query) {
            this.currentQuery = Object.assign({}, query)
            const fields = _.filter(this.currentQuery.model.fields || [], 'user_field')
            const query_fields = _.keyBy(this.currentQuery.fields, 'key')
            this.fields = fields.map(field => ({
                ...field,
                checked: !!query_fields[field.key]
            }))

            this.loadGraphQL()
        },

        loadGraphQL() {
            if (this.currentQuery.graph_query)
                api.gql.runQuery(this.currentQuery.graph_query)
                    .then(res => {
                        if (res) {
                            this.result = _.get(res, this.currentQuery.data_path)
                        } else {
                            this.result = null
                        }
                    });
        },

        onSelectModel() {
            this.selectedModelId = this.currentQuery.model.id
            this.selectModelDialog = true;
        },

        onModelSelected() {
            const id = this.selectedModelId;
            this.currentQuery.model = _.find(this.models, {id})
            this.fields = []
            this.selectModelDialog = false
            this.onModelChanged()
        },

        onModelChanged() {
            const query = {
                name: this.currentQuery.name,
                key: this.currentQuery.key,
                description: this.currentQuery.description,
                model_key: this.currentQuery.model.key,
                field_keys: _(this.fields).filter('checked').map('key').value(),
                is_single: !!this.currentQuery.is_single,
                use_pagination: !!this.currentQuery.use_pagination,
            }
            return api.kmd.updateQuery(this.queryKey, query)
                   .then(this.useQuery)

        },

    }

}
</script>
