<template>

    <div class="flex flex-col w-full h-full justify-center items-center space-y-4">

        <svg class="h-16 w-16 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <circle cx="10" cy="10" r="7"/>
            <line x1="21" y1="21" x2="15" y2="15"/>
        </svg>
        <div>
            Запросы
        </div>

    </div>

</template>

<script>

export default {

}
</script>
