<template>

    <div class="flex h-full w-full">

        <aside class="flex-none flex flex-col w-60 border-r ">

            <div class="h-14 p-3 flex-none flex flex-row justify-between items-center cursor-pointer border-b">
                <div class="text-lg font-bold">РФ</div>
<!--                <icon-add @click="addQuery"/>-->
            </div>

            <div class="flex-grow flex flex-col h-full overflow-y-auto">

                <div class="p-3 flex flex-row justify-between">
                    <div class="font-serif font-semibold text-stone-500">
                        Страницы
                    </div>
                    <icon-add class="cursor-pointer" @click="onAdd('page')"/>
                </div>
                <template v-for="item in pages">
                    <div @click="onSelectForm(item)"
                         class="px-6 py-2 flex flex-col center  w-full cursor-pointer  hover:text-orange-500 group"
                         :class="{'bg-gray-200': selectedForm.key === item.key}">
                        <div class="">{{item.name}} </div>
                        <div class="text-xs text-gray-500 group-hover:text-orange-500">{{ item.key }}</div>
                    </div>
                </template>

<!--                <div class="p-3 flex flex-row justify-between">-->
<!--                    <div class="font-serif font-semibold text-stone-500">-->
<!--                        Формы-->
<!--                    </div>-->
<!--                    <icon-add class="cursor-pointer" @click="onAdd('form')"/>-->
<!--                </div>-->
<!--                <template v-for="item in forms">-->
<!--                    <div @click="onSelectForm(item)"-->
<!--                         class="px-6 py-2 flex flex-col center  w-full cursor-pointer  hover:text-orange-500 group"-->
<!--                         :class="{'bg-gray-200': selectedForm.key === item.key}">-->
<!--                        <div class="">{{item.name}} </div>-->
<!--                        <div class="text-xs text-gray-500 group-hover:text-orange-500">{{ item.key }}</div>-->
<!--                    </div>-->
<!--                </template>-->

            </div>

        </aside>


        <div class="flex-grow min-w-0 flex flex-col">
            <router-view/>
        </div>

        <a-dialog v-model="newFormDialog" title="Добавить форму" @close="newFormDialog=false">

            <div class="space-y-6 w-4/5">
                <div>
                    <div class="font-semibold text-sm">Название формы</div>
                    <div class="text-gray-500 text-xs mb-2">Название формы</div>
                    <input v-model="newForm.name" type="text" class="form-input w-full"/>
                </div>
                <div>
                    <div class="font-semibold text-sm">Идентификатор</div>
                    <div class="text-gray-500 text-xs mb-2">Идентификатор формы латинскими буквами</div>
                    <input v-model="newForm.key" type="text" class="form-input w-full"/>
                </div>
                <div>
                    <div class="font-semibold text-sm">Тип формы</div>
                    <div class="text-gray-500 text-xs mb-2">Форма или страница</div>
                    <select v-model="newForm.type" class="form-input w-full">
                        <option v-for="type in types" :key="type.value" :value="type.value">{{type.text}}</option>
                    </select>
                </div>
            </div>

            <template slot="actions">
                <button-submit :loading="loading" :disabled="!(newForm.name && newForm.key && newForm.type)" @click="onFormSubmit">Сохранить</button-submit>
            </template>

        </a-dialog>

    </div>

</template>

<script>

import _ from 'lodash';
import FormEditor from "@/views/forms/GrapesEditor";
import ADialog from "@/components/ADialog";
import ButtonSubmit from "@/components/ButtonSubmit";
import api from "@/api";
import IconAdd from "@/components/IconAdd";
import ButtonDelete from "@/components/ButtonDelete";
import {slugify} from "transliteration";

export default {
    components: {ButtonDelete, IconAdd, ADialog, FormEditor, ButtonSubmit},
    data: () => ({

        types: [{
            value: "page",
            text: "Страница"
        }, {
            value: "form",
            text: "Форма"
        }],
        newForm: {
            id: null,
            key: null,
            name: null,
            type: null,
        },

        loading:false,
        newFormDialog: false,
        selectedForm: {},

        formDeleteConfirmation: false,
        
        form_list: [],
    }),

    computed: {
        pages() {
            return _.filter(this.form_list, {type: 'page'})
        },
        forms() {
            return _.filter(this.form_list, {type: 'form'})
        },
    },

    watch: {
        'newForm.name'(t) {
            this.newForm.key = slugify(t)
        },
    },

    mounted() {
        this.loadAllForms()
    },

    methods: {

        loadAllForms() {
            return api.pages.readAll()
                .then(pages => this.form_list = pages)
                .then(() => {
                    if (!this.selectedForm.key) {
                        if (this.pages && this.pages.length ) this.onSelectForm(this.pages[0])
                        else if (this.forms && this.forms.length ) this.onSelectForm(this.forms[0])
                    }
                })
        },

        onSelectForm(item) {
            if (this.selectedForm.key !== item.key) {
                this.selectedForm = Object.assign({}, this.selectedForm, item)
                this.$router.push({name: 'form-editor', params: {formKey: item.key}}).catch(()=>{})
            }
        },

        onAdd(type) {
            this.newForm.id = null;
            this.newForm.name = null;
            this.newForm.key = null;
            this.newForm.type = type;
            this.newFormDialog=true;
        },

        onCreateForm() {
            this.loading = true;
            return api.pages.create(this.newForm.key, this.newForm.name, '', this.newForm.type)
                .then(() => this.loadAllForms())
                .then(() => this.newFormDialog = false)
                .finally(() => this.loading = false)
        },

        onFormSubmit() {
            this.onCreateForm()
        },

    },

    filters: {
        formType(type) {
            return type === 'page' ? 'Страница' : 'Форма'
        }
    }
}
</script>
