<template>

    <div class="flex flex-col h-full w-full">

        <div class="flex-grow min-w-0 flex flex-col">

            <div class="h-14 p-3 flex-none flex flex-row justify-between items-center border-b group">
                <template v-if="selectedForm.key">
                    <div class="flex items-center ">
                        <div class="text-sm mr-2">{{selectedForm.type | formType}} </div>
                        <div class="text-lg font-bold"> {{selectedForm.name}}</div>
                        <div class="text-gray-800 ml-2">/{{selectedForm.key}}</div>

                        <div class="flex space-x-2 ml-5">

<!--                            <svg @click="onCopy(selectedForm)"  class="h-5 w-5 text-blue-500 cursor-pointer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--                                <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--                                <rect x="8" y="8" width="12" height="12" rx="2"/>-->
<!--                                <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"/>-->
<!--                            </svg>-->

<!--                            <svg @click="onEdit(selectedForm)" class="h-5 w-5 text-yellow-500 cursor-pointer" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
<!--                                <path d="M12 20h9"/>-->
<!--                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"/>-->
<!--                            </svg>-->

                            <svg @click="onDeleteForm" class="h-5 w-5 text-red-500 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                            </svg>

                            <div  @click="onPreview" class=" cursor-pointer">
                                <svg v-if="showPreview" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"/>
                                </svg>
                                <svg v-else class="h-6 w-6 text-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                                </svg>
                            </div>

                        </div>

                    </div>
                </template>
            </div>

            <div class="flex-grow">
                <form-editor v-if="selectedForm.key" class="h-full w-full" :form-key="selectedForm.key" @update-part="onUpdatePart"/>
            </div>

        </div>

        <div class="flex-grow min-w-0 flex flex-col border-t" v-if="showPreview">
            <div class="flex-grow border m-4 shadow rounded">
                <iframe class="w-full h-full" :src="previewUrl"/>
            </div>
        </div>

<!--        <a-dialog v-model="newFormDialog" title="Добавить поле" @close="newFormDialog=false">-->

<!--            <div class="space-y-6 w-4/5">-->
<!--                <div>-->
<!--                    <div class="font-semibold text-sm">Название формы</div>-->
<!--                    <div class="text-gray-500 text-xs mb-2">Название поля латинскими буквами</div>-->
<!--                    <input v-model="newForm.name" type="text" class="form-input w-full"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="font-semibold text-sm">Идентификатор</div>-->
<!--                    <div class="text-gray-500 text-xs mb-2">Идентификатор формы латинскими буквами</div>-->
<!--                    <input v-model="newForm.key" type="text" class="form-input w-full"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="font-semibold text-sm">Тип формы</div>-->
<!--                    <div class="text-gray-500 text-xs mb-2">Форма или страница</div>-->
<!--                    <select v-model="newForm.type" class="form-input w-full">-->
<!--                        <option v-for="type in types" :key="type.value" :value="type.value">{{type.text}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->

<!--            <template slot="actions">-->
<!--                <button-submit :loading="loading" :disabled="!(newForm.name && newForm.key && newForm.type)" @click="onFormSubmit">Сохранить</button-submit>-->
<!--            </template>-->

<!--        </a-dialog>-->

        <a-dialog v-model="formDeleteConfirmation" title="Подверждение" @close="formDeleteConfirmation = false">
            <div>Удалить {{selectedForm.type === 'page' ? 'страницу' : 'форму'}}?</div>

            <template slot="actions">
                <button-delete :loading="loading"  @click="onFormDeleteSubmit">Удалить</button-delete>
            </template>
        </a-dialog>

    </div>

</template>

<script>

import _ from 'lodash';
import FormEditor from "@/views/forms/GrapesEditor";
import ADialog from "@/components/ADialog";
import ButtonSubmit from "@/components/ButtonSubmit";
import api from "@/api";
import IconAdd from "@/components/IconAdd";
import ButtonDelete from "@/components/ButtonDelete";

export default {
    components: {ButtonDelete, IconAdd, ADialog, FormEditor, ButtonSubmit},

    props: {
        formKey: {
            required: true
        }
    },

    data: () => ({

        project: {
            id: 1
        },

        types: [{
            value: "page",
            text: "Страница"
        }, {
            value: "form",
            text: "Форма"
        }],
        newForm: {
            name: null,
            key: null,
            type: null,
        },

        loading:false,
        newFormDialog: false,
        selectedForm: {},

        showPreview: false,
        reloadKey: "0",

        formDeleteConfirmation: false,
        
        form_list: [],
    }),

    computed: {
        pages() {
            return _.filter(this.form_list, {type: 'page'})
        },
        forms() {
            return _.filter(this.form_list, {type: 'form'})
        },

        previewUrl() {
            const root = process.env.VUE_APP_SANDBOX_URL
            return `${root}${this.formKey}?reload=${this.reloadKey}`
        },
    },

    watch: {
        formKey: {
            handler(formKey) {
                this.loadForm(formKey)
            },
            immediate: true,
        }
    },

    methods: {

        loadForm(formKey) {
            this.selectedForm = {}
            return api.pages.read(formKey)
            .then(form => {
                return this.selectedForm = Object.assign({}, this.selectedForm, form);
            })
        },

        onCopy({id, name, key, type}) {

        },

        onEdit({id, name, key, type}) {
            this.newForm.id = id;
            this.newForm.name = name;
            this.newForm.type = type;
            this.newForm.key = key;
            this.newFormDialog=true;
        },

        onUpdateForm() {
            this.loading = true;
            const {key, name, type} = this.newForm
            return api.pages.update(key, name, '', type)
                .then(() => {
                    this.loadAllForms();
                    this.newFormDialog = false;
                })
                .finally(() => this.loading = false)
        },

        onFormSubmit() {
            this.onUpdateForm()
        },

        onDeleteForm() {
            this.formDeleteConfirmation = true
        },

        onFormDeleteSubmit() {
            this.loading =true
            api.pages.delete(this.selectedForm.key)
            .then(() => {
                this.selectedForm = {}
                this.loadAllForms()
                this.formDeleteConfirmation = false
            })
            .finally(() => this.loading = false)
        },

        onPreview() {
            this.showPreview = !this.showPreview
            this.reloadPreview()
        },

        reloadPreview() {
            this.reloadKey = new Date().getTime()
        },

        onUpdatePart(name) {
            if (name === 'gjs-html' || name === 'gjs-css') {
                this.reloadPreview()
            }
        },


    },

    filters: {
        formType(type) {
            return type === 'page' ? 'Страница' : 'Форма'
        }
    }
}
</script>
