<template>
    <div>
        <div id="gjs"></div>

        <graph-q-l-dialog ref="graphQLDialog"/>
        <action-selector ref="actionSelector"/>
    </div>
</template>

<script>

    import grapes from 'grapesjs'
    import 'grapesjs/dist/css/grapes.min.css'

    import 'grapesjs-preset-webpage/dist/grapesjs-preset-webpage.min.css'
    import grapesjspresetwebpage from 'grapesjs-preset-webpage'
    import grapesjscomponentcodeeditor from 'grapesjs-component-code-editor'
    import grapesjsindexeddbui from 'grapesjs-indexeddb-ui'

    import grabulma from "@/views/forms/plugins/grabulma";
    import appliner from "@/views/forms/plugins/appliner"; // Шаблоны Appliner➡️Templates

    import GraphQLDialog from "./dialogs/GraphQLDialog";
    import ActionSelector from "./dialogs/ActionSelector";

    import './plugins/backend-storage'
    import './plugins/action-caller'
    import './plugins/graphql-collection'
    import './plugins/alternate-fonts'
    import api from "@/api";

    export default {
        components: {ActionSelector, GraphQLDialog},
        props: {
            formKey: {
                required: true
            }
        },

        data: () => ({
            parts: [],
            parts_by_name: {},
        }),

        mounted () {
            this.initGrapes();
        },

        methods: {

            loadParts(form_key) {
                return api.pages.getParts(form_key)
            },

            saveParts(form_key, data) {
                return api.pages.saveParts(form_key, data)
                    .then(() => this.$emit('update-part', name))
            },

            initGrapes() {
                grapes.init({
                    container: '#gjs',
                    width: '100%',
                    height: '100%',
                    showOffsets:    true,
                    fromElement:    true,
                    storageManager: { type: 'backend-storage' },
                    plugins: [
                        'action-caller',
                        'graphql-collection',
                        grapesjspresetwebpage,
                        grapesjscomponentcodeeditor,
                        grapesjsindexeddbui,
                        appliner,
                        grabulma,
                        'backend-storage',
                        'alternate-fonts',
                    ],
                  pluginsOpts: {
                    'graphql-collection': {
                        queryBuilder: () => this.$refs.graphQLDialog.open()
                    },
                    'action-caller': {
                        actionSelector: () => this.$refs.actionSelector.open()
                    },
                    'backend-storage': {
                        form_key: this.formKey,
                        saveParts: this.saveParts,
                        loadParts: this.loadParts,
                    },
                  },
                    canvas: {
                        scripts: [],
                        styles:  [
                            "https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css",
                            "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css",
                        ]
                    },
                  styleManager: {
                    // options
                  }
                })

            },

            mapType(type) {
                return type === 'number' ? 'integer'
                    : 'single-line'
            },

        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .v-container {
        height: 90%;
    }
    .gjs-editor-cont {
        height: calc(100vh - 150px)
    }
</style>
<!--suppress CssUnusedSymbol -->
<style>
#gjs {
    border: none;
}
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
    background-color: #ffffff;
}

/* Secondary color for the text color */
.gjs-two-color {
    color: #000000;
}

/* Tertiary color for the background */
.gjs-three-bg {
    background-color: rgb(22, 86, 249);;
    color: #ffffff;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
    color: rgb(249 115 22);;
}

.gjs-category-title {
    background-color: #ffffff;
}

.gjs-pn-views-container,
.gjs-pn-views {
    width: 200px;
}

.gjs-btn-prim {
    border: solid thin gray;
}

.gjs-pn-options {
    right: 200px;
}

</style>
