<template>

    <div v-if="isActive">
        <div class="fixed top-0 left-0 right-0 bottom-0 bg-stone-600 opacity-80 z-10"/>

        <div class="fixed top-0 left-0 right-0 bottom-0 opacity-100 flex items-center justify-center z-20" @click="isActive=false">

            <div class="flex-none flex flex-col w-[50rem] bg-white rounded shadow-lg"  @click.stop="">

                <div class="flex-none flex flex-row p-4 border-b">
                    <div class="font-semibold text-lg ">{{ title }}</div>
                    <icon-close @click="$emit('close')"/>
                </div>

                <div class="flex-grow p-4">
                    <slot/>
                </div>

                <div class="flex-none flex flex-row justify-end p-4 border-t">
                    <slot name="actions"/>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import IconClose from "@/components/IconClose";
import Toggleable from "@/components/Toggleable";
export default {
    components: {IconClose},
    props: {
        title: {},
    },
    mixins: [Toggleable]

}
</script>

<style scoped>

</style>