<template>

    <div v-if="loading" class="rounded border bg-sky-100 border-sky-500 w-36 px-4 py-1">
        <icon-loading class="mx-auto text-sky-500"/>
    </div>
    <button v-else @click="$emit('click', $event)"
            :disabled="disabled"
            class="rounded border border-sky-200 shadow
                    hover:border-sky-500
                    disabled:border-gray-500 disabled:text-gray-500 disabled:shadow-none
                    w-36 px-4 py-1">
        <slot/>
    </button>

</template>

<script>
import IconLoading from "@/components/IconLoading";

export default {
    components: {IconLoading},

    props: {
        loading: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
    },
}
</script>

<style scoped>

</style>