<template>

    <div v-if="loading" class="rounded border border-red-500 w-36 px-4 py-1">
        <icon-loading class="mx-auto text-red-500"/>
    </div>
    <button v-else @click="$emit('click', $event)"
            :disabled="disabled"
            class="rounded border text-red-500 border-red-200 hover:border-red-500 disabled:border-gray-500 w-36 px-4 py-1">
        <slot/>
    </button>

</template>

<script>
import IconLoading from "@/components/IconLoading";

export default {
    components: {IconLoading},

    props: {
        loading: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
    },
}
</script>

<style scoped>

</style>