<template>

    <div class="p-6 bg-gray-50 space-y-4">

        <div class="flex-none mb-4 font-semi">Добавить поле</div>

        <div v-for="typeDef in types" @click="onAddField(typeDef)"
             class="px-4 py-2 flex w-48 bg-white block shadow hover:shadow-md cursor-pointer">
            <div class="w-12 h-12 flex mr-2">
                <type-icon class="ms-auto" :type="typeDef.type"/>
            </div>
            <div class="self-center flex-grow flex-box center">
                <div class="">{{ typeDef.title }}</div>
                <div class="text-slate-400 text-xs">{{ typeDef.subtitle }}</div>
            </div>
        </div>




        <a-dialog v-model="isFieldFormOpened" title="Добавить поле" @close="isFieldFormOpened=false">

            <div class="space-y-6 w-4/5">
                <div class="flex flex-row items-end justify-content-start">
                    <type-icon class="w-8" :type="fieldForm.type"/>
                    <div>{{fieldForm.type_title}} / {{fieldForm.type_subtitle}}</div>
                </div>
                <div>
                    <div class="font-semibold text-sm">Название поля</div>
                    <div class="text-gray-500 text-xs mb-2">Название поля</div>
                    <input v-model="fieldForm.name"
                           class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                </div>
                <div>
                    <div class="font-semibold text-sm">Код поля</div>
                    <div class="text-gray-500 text-xs mb-2">Код поля латинскими буквами</div>
                    <input v-model="fieldForm.key"
                           class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                </div>
                <div>
                    <div class="font-semibold text-sm">Описание поля  <span class="text-gray-500 text-xs">(Необязательно)</span></div>
                    <div class="text-gray-500 text-xs mb-2">Любой текст</div>
                    <textarea v-model="fieldForm.description"
                              class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                </div>
            </div>

            <template slot="actions">
                <button-submit :loading="loading" :disabled="!fieldFormIsReady" @click="onFieldFormSubmit">Добавить</button-submit>
            </template>

        </a-dialog>



    </div>

</template>

<script>
import TypeIcon from "@/components/TypeIcon";
import ADialog from "@/components/ADialog";
import ButtonSubmit from "@/components/ButtonSubmit";
import {slugify} from "transliteration";
export default {
    components: {ButtonSubmit, ADialog, TypeIcon},

    data: () => ({
        types: [{
            title: "Text",
            subtitle: "Single line",
            type: "single-line",
        },{
            title: "Text",
            subtitle: "Multi line",
            type: "multy-line",
        },{
            title: "Text",
            subtitle: "Rich text",
            type: "rich-text",
        },{
            title: "Number",
            subtitle: "Integer",
            type: "integer",
        },{
            title: "Number",
            subtitle: "Float",
            type: "float",
        },{
            title: "Date",
            subtitle: "Timestamp",
            type: "timestamp",
        }],

        isFieldFormOpened: false,
        loading: false,

        fieldForm: {
            name: null,
            key: null,
            description: null,
            type: "float",
            type_title: "Float",
            type_subtitle: "Number",
        },

    }),

    watch: {
        'fieldForm.name'(t) {
            this.fieldForm.key = slugify(t)
        },

    },

    computed: {
        fieldFormIsReady() {
            return this.fieldForm.name
        },
    },

    methods: {

        onAddField({type, title, subtitle }) {
            this.fieldForm.name = null
            this.fieldForm.key = null
            this.fieldForm.description = null
            this.fieldForm.type = type
            this.fieldForm.type_title = title
            this.fieldForm.type_subtitle = subtitle
            this.isFieldFormOpened = true;
        },

        onFieldFormSubmit() {
            this.loading = false;
            this.isFieldFormOpened = false;
            this.$emit('add-field', this.fieldForm)
        },


    },

}
</script>

<style scoped>

</style>