<template>


    <div v-if="type === 'single-line'" class="text-3xl self-center">T</div>

    <div v-else-if="type === 'multy-line'" class="text-3xl self-center">M</div>

    <div v-else-if="type === 'id-type'" class="text-3xl self-center">
        <svg class="h-8 w-8 "  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"/>
        </svg>
    </div>

    <div v-else-if="type === 'rich-text'" class="self-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
        </svg>
    </div>

    <div v-else-if="type === 'timestamp'" class="self-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
    </div>

    <div v-else-if="type === 'id'" class="text-3xl self-center">#</div>

    <div v-else-if="type === 'integer'" class="text-3xl self-center">9</div>

    <div v-else-if="type === 'float'" class="text-3xl self-center">π</div>

    <div v-else class="self-center ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
    </div>

</template>

<script>
export default {
    props: {
        type: {
            type: String,
            validator: value => ['single-line', 'multy-line', 'rich-text', 'integer', 'float', 'timestamp', 'id'].includes(value)
        }
    }
}
</script>

<style scoped>

</style>