<template>

    <div class="flex ">

        <!-- Редактор модели -->
        <div class="h-screen flex-grow flex flex-col ">

            <!-- Название модели -->
            <header v-if="selectedModel" class="px-2 flex-none flex flex-row justify-between items-center border-b group">
                <div class="p-3 flex-none flex flex-row space-x-4 justify-start items-baseline border-b">
                    <div class="text-lg font-semibold">{{ selectedModel.name }}</div>
                    <div class="text-sm text-gray-400">{{ selectedModel.description }}</div>
                </div>
                <button-submit class="h-8" @click="onAddRecord">+ Запись</button-submit>
            </header>

            <main v-if="fields.length" class="flex-grow flex flex-col m-3 border shadow overflow-t-auto">

                <div class=" flex-none flex flex-row justify-start items-center border-b text-sm font-semibold  bg-stone-100">

                    <div class="flex-none p-2 flex center justify-center w-14 ">&nbsp;
                    </div>
                    <div class="flex-none p-2 flex justify-center w-32 border-r border-l bg-gray-50">
                        ID
                    </div>
                    <div class="flex-none p-2 flex justify-center w-32 border-r bg-gray-50">
                        Created
                    </div>
                    <div class="flex-none p-2 flex justify-center w-32 border-r bg-gray-50">
                        Updated
                    </div>
                    <template v-for="item in user_fields">
                        <div class="flex-none p-2 flex justify-center w-32 border-r">
                            {{ item.name }}
                        </div>
                    </template>

                </div>

                <div class="flex-grow flex flex-col">

                    <template v-for="row in data" >
                        <div :key="row.id" class="flex-none flex flex-row justify-start items-center border-b bg-white text-sm group">

                            <div class="flex-none p-2 flex center space-x-2 justify-center w-14 ">
                                <svg @click="onEditRecord(row)"  class="h-4 w-4 text-yellow-100 group-hover:text-yellow-500 cursor-pointer" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M12 20h9"/>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"/>
                                </svg>
                                <svg @click="onDeleteRecord(row)"  class="h-4 w-4 text-red-100 group-hover:text-red-500 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                </svg>

                            </div>

                            <div class="flex-none p-4 w-32 border-r border-l truncate text-gray-400 bg-gray-50">
                                {{ row.id }}
                            </div>
                            <div class="flex-none p-4 w-32 border-r whitespace-nowrap text-gray-400 bg-gray-50">
                                {{ row.created_at | datetime }}
                            </div>
                            <div class="flex-none p-4 w-32 border-r whitespace-nowrap text-gray-400 bg-gray-50">
                                {{ row.updated_at | datetime }}
                            </div>
                            <template v-for="item in user_fields">
                                <div v-if="user_fields_o[item.key].apl_type === 'integer'"
                                     class="flex-none p-4 w-32 border-r truncate whitespace-nowrap text-right" >
                                    {{ row[item.key] }}
                                </div>
                                <div v-else-if="user_fields_o[item.key].apl_type === 'timestamp'"
                                     class="flex-none p-4 w-32 border-r truncate whitespace-nowrap">
                                    {{ row[item.key] | datetime }}
                                </div>
                                <div v-else
                                     class="flex-none p-4 w-32 border-r truncate whitespace-nowrap">
                                    {{ row[item.key] }}
                                </div>
                            </template>

                        </div>
                    </template>


                </div>

            </main>


        </div>



        <a-dialog v-model="isFormOpened" title="Добавить запись" @close="isFormOpened=false">

            <div class="space-y-6 w-4/5">

                <template v-for="field in user_fields">

                    <div>
                        <div class="font-semibold text-sm">{{ field.name }}</div>
                        <div class="text-gray-500 text-xs mb-2">{{ field.description }}</div>

                        <template v-if="field.apl_type === 'single-line'">
                            <input v-model="formModel[field.key]"
                                   class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                        </template>
                        <template v-else-if="field.apl_type === 'multy-line'">
                            <textarea v-model="formModel[field.key]"
                                   class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                        </template>
                        <template v-else-if="field.apl_type === 'integer'">
                            <input v-model="formModel[field.key]"
                                   type="number"
                                   class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                        </template>
                        <template v-else-if="field.apl_type === 'float'">
                            <input v-model="formModel[field.key]"
                                   type="number"
                                   class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                        </template>
                        <template v-else-if="field.apl_type === 'timestamp'">
                            <input v-model="formModel[field.key]"
                                   type="date"
                                   class="rounded border focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 shadow p-2 w-full"/>
                        </template>
                    </div>

                </template>

            </div>

            <template slot="actions">
                <button-submit :loading="loading" @click="onFormSubmit">Добавить</button-submit>
            </template>

        </a-dialog>


        <a-dialog v-model="rowDeleteConfirmation" title="Подверждение" @close="rowDeleteConfirmation = false">
            <div>Удалить строку?</div>

            <template slot="actions">
                <button-delete :loading="loading"  @click="onDeleteSubmit">Удалить</button-delete>
            </template>
        </a-dialog>

    </div>


</template>

<script>

import IconDelete from "@/components/IconDelete";
import ButtonSubmit from "@/components/ButtonSubmit";

import _ from 'lodash'
import moment from 'moment'
import ADialog from "@/components/ADialog";
import TypeIcon from "@/components/TypeIcon";

import api from '@/api'
import ModelList from "@/views/kmd/components/ModelList";
import ButtonDelete from "@/components/ButtonDelete";

export default {
    components: {ButtonDelete, ModelList, TypeIcon, ADialog, ButtonSubmit, IconDelete},

    props: {
        modelKey: {
            required: true
        }
    },

    data: () => ({
        loading: false,

        fields: [],
        data: [],
        selectedModel: null,

        isFormOpened: false,
        formModel: {},

        rowDeleteConfirmation: false,
        rowToDelete: null,
    }),

    computed: {
        user_fields() {
            return _.filter(this.fields, 'user_field')
        },

        user_fields_o() {
            return _.keyBy(this.user_fields, 'key')
        },
    },

    watch: {
        modelKey: {
            handler() {
                this.loadModel()
            },
            immediate: true,
        },

    },

    methods: {
        loadModel() {
            return this.loadModelMetadata()
            .then(() => this.loadModelData())
        },

        loadModelMetadata() {
            return api.kmd.getModel(this.modelKey).then(model => {
                this.selectedModel = model
                return this.fields = model.fields || [];
            })
        },

        loadModelData() {
            return api.data.select(this.modelKey).then(data => this.data = data)
        },

        onAddRecord() {
            this.formModel = {}
            this.user_fields.forEach(field => this.$set(this.formModel, field.key, null))
            this.isFormOpened = true
        },

        onEditRecord(row) {
            this.formModel = Object.assign({}, row);
            this.isFormOpened = true
        },

        onDeleteRecord(row) {
            this.rowToDelete = row
            this.rowDeleteConfirmation = true
        },

        onDeleteSubmit() {
            this.loading = true;
            return api.data.delete(this.selectedModel.key, this.rowToDelete.id)
                .then(() => {
                    this.rowDeleteConfirmation = false
                    return this.loadModelData(this.selectedModel);
                })
                .finally(() => this.loading = false)
        },

        onFormSubmit() {
            this.loading = true;

            const update = this.formModel.id
                ? api.data.update(this.selectedModel.key, this.formModel.id, this.formModel)
                : api.data.create(this.selectedModel.key, this.formModel);

            return update
                .then(() => {
                    this.isFormOpened = false
                    return this.loadModelData(this.selectedModel);
                })
            .finally(() => this.loading = false)
        }

    },

    filters: {
        datetime(v) {
            return v ? moment(v).format('DD.MM.YYYY HH:mm') : v
        }
    }

}
</script>

<style scoped>

</style>