<template>

    <div class="flex ">

        <!-- Список моделей -->
        <aside class="w-60 flex-none flex flex-col justify-start  text-gray-700  border-r overflow-y-auto">

            <a class="p-3 flex-none flex flex-row justify-between items-center cursor-pointer border-b">
                <div class="text-lg font-bold">Модель</div>
            </a>

            <model-list :models="models" @select="onModelClick"/>

        </aside>

        <!-- Редактор модели -->
        <div class="h-screen flex-grow flex flex-col ">
            <router-view/>
        </div>

    </div>


</template>

<script>

import IconDelete from "@/components/IconDelete";
import ButtonSubmit from "@/components/ButtonSubmit";

import _ from 'lodash'
import ADialog from "@/components/ADialog";
import TypeIcon from "@/components/TypeIcon";

import api from '@/api'
import ModelList from "@/views/kmd/components/ModelList";
import ButtonDelete from "@/components/ButtonDelete";

export default {
    components: {ButtonDelete, ModelList, TypeIcon, ADialog, ButtonSubmit, IconDelete},
    data: () => ({
        loading: false,

        models: [],
        fields: [],
        data: [],
        selectedModel: null,

        isFormOpened: false,
        formModel: {},

        rowDeleteConfirmation: false,
        rowToDelete: null,
    }),

    computed: {
        user_fields() {
            return _.filter(this.fields, 'user_field')
        },

        user_fields_o() {
            return _.keyBy(this.user_fields, 'key')
        },
    },

    mounted() {
        this.loadAllModels()
    },

    methods: {
        loadAllModels() {
            return api.kmd.getAll()
                .then(models => this.models = models || [])
        },

        onModelClick(model) {
            this.selectedModel = model
            if(model)
                this.$router.push({name: 'data-editor', params: {modelKey: model.key}}).catch(()=>{})
        },

    },

}
</script>

<style scoped>

</style>