<template>

    <v-dialog v-model="isActive" scrollable max-width="390">
        <v-card class="pa-0">
            <v-card-title class="text-h5 grey lighten-2">
                <span>Выберите форму</span>
            </v-card-title>

            <v-card-text>
                <form-list type="form"
                           @change="selectedFormInternal = $event"
                           @edit-page="$emit('edit-page', $event)"/>
            </v-card-text>

            <v-card-actions>
                <v-spacer/>
                <v-btn block :disabled="!selectedFormInternal" @click="onOk">Выбрать</v-btn>
            </v-card-actions>

        </v-card>
    </v-dialog>

</template>

<script>

import FormList from 'rf/FormList';

export default {
    
    props: {
        selectedForm:{}
    },
    
    components: {FormList},

    data: () => ({
        selectedFormInternal: null
    }),

    methods: {
        onOk() {
            this.$emit('update:selectedForm', this.selectedFormInternal)
            this.$emit('selected', this.selectedFormInternal)
        }
    }
}
</script>

<style scoped>

</style>