<template>

    <v-dialog v-model="isActive" fullscreen>
        <v-card class="pa-0">
            <v-card-title class="text-h5 grey lighten-2">
                <v-spacer/>
                <v-btn @click="isActive = false">Закрыть</v-btn>
            </v-card-title>

            <v-card-text>
                <form-editor :id="formId"/>
            </v-card-text>
        </v-card>
    </v-dialog>

</template>

<script>

import FormEditor from 'rf/FormEditor';

export default {
    components: {FormEditor},

    props: {
        formId: {}
    }
}
</script>

<style scoped>

</style>