<template>

    <a-dialog v-model="dialog" title="Выбор действия" @close="dialog = false">

        <div class="w-[50rem]">

            <label v-for="type in types" class="truncate flex flex-col justify-between content-start">
                <span>{{ type.name }}</span>
                <label v-for="subtype in type.subtypes" class="truncate flex flex-col justify-between content-start pl-4">
                    {{subtype.name}}
                    <label v-for="action in subtype.actions" class="truncate flex justify-between items-center px-4">
                        {{action.subName}}
                        <input name="select-model" :value="action" v-model="selectedAction" type="radio" class="form-radio m-2" />
                    </label>
                </label>
            </label>


        </div>

        <template slot="actions">
            <button-submit :loading="loading>0" :disabled="!selectedAction" @click="accept">Выбрать</button-submit>
        </template>

    </a-dialog>

</template>

<script>

    import ADialog from "@/components/ADialog";
    import ButtonSubmit from "@/components/ButtonSubmit";

    import api from '@/api'

    export default {
        components: {ButtonSubmit, ADialog},
        data: () => ({

            dialog: false,
            resolve: null,
            reject: null,

            types: [{
                type: 'kmd',
                name: 'Данные',
                subtypes:[],
            },{
                type: 'kp',
                name: 'Процессы',
                subtypes:[],
            }],
            loading: 0,

            selectedAction: null,
        }),

        computed: {

            queriesByKey() {
                return _.keyBy(this.queries, 'key')
            },
        },

        watch: {
            dialog(dialog) {
                if (!dialog) this.reject();
            },

            selectedAction(selectedAction) {
                console.log('selectedAction', selectedAction)
            }
        },

        methods: {

            open() {
                console.log('open')
                return new Promise((resolve, reject) => {
                    this.resolve = resolve;
                    this.reject = reject;

                    this.dialog = true;

                    this.loadActions()
                });
            },

            accept() {
                this.dialog = false;
                console.log('accept', this.selectedAction)
                this.resolve(this.selectedAction);
            },

            cancel() {
                this.dialog = false;
                // this.reject(); --> watch
            },

            loadActions() {

                api.kmd.loadActions().then(actions => {
                    this.types[0].subtypes = this.prepareActions(actions)
                })

                api.processes.loadActions().then(actions => {
                    this.types[1].subtypes = this.prepareActions(actions)
                })
            },

            prepareActions(actions) {
                const acc = {}
                actions.forEach(action => {
                    if (!acc[action.key]) acc[action.key] = {
                        key: action.key,
                        name: action.name,
                        actions: [],
                    }
                    acc[action.key].actions.push(action)
                })
                return _(acc).values().orderBy('name').value()
            },

        },

    }
</script>

<style scoped>

</style>