<template>

    <a-dialog v-model="dialog" title="Выбор запроса" @close="dialog = false">

        <div class="w-64">
            <label v-for="query in queries" class="w truncate flex justify-between items-center">
                {{query.name}}
                <input name="select-model" :value="query.key" v-model="selectedQueryKey" type="radio" class="form-radio m-2" />
            </label>
        </div>

        <template slot="actions">
            <button-submit :loading="loading" :disabled="!selectedQueryKey" @click="accept">Выбрать</button-submit>
        </template>

    </a-dialog>

</template>

<script>

    import ADialog from "@/components/ADialog";
    import ButtonSubmit from "@/components/ButtonSubmit";

    import api from '@/api'

    export default {
        components: {ButtonSubmit, ADialog},
        data: () => ({

            dialog: false,
            resolve: null,
            reject: null,

            loading: false,
            queries: [],

            selectedQueryKey: null,
        }),

        computed: {
            queriesByKey() {
                return _.keyBy(this.queries, 'key')
            },
        },

        watch: {
            dialog(dialog) {
                if (!dialog) this.reject();
            },
        },

        methods: {

            open() {
                console.log('open')
                return new Promise((resolve, reject) => {
                    this.resolve = resolve;
                    this.reject = reject;

                    this.dialog = true;

                    api.kmd.readAllQueries()
                    .then(queries => this.queries = queries)
                    .finally(() => {this.loading = false})
                });
            },

            accept() {
                this.dialog = false;
                let queriesByKeyElement = this.queriesByKey[this.selectedQueryKey];
                console.log('accept', this.selectedQueryKey, queriesByKeyElement)
                this.resolve(queriesByKeyElement);
            },

            cancel() {
                this.dialog = false;
                // this.reject(); --> watch
            },

        },

    }
</script>

<style scoped>

</style>