<template>

    <v-dialog v-if="dialog" v-model="dialog" scrollable max-width="390">
        <v-card class="pa-0">
            <v-card-title class="text-h5 grey lighten-2">
                <span>Новая форма</span>
            </v-card-title>

            <v-card-text>
                <v-form>
                    <v-text-field v-model="newForm.title" label="Название" required/>
                    <v-text-field v-model="newForm.key" label="Идентификатор" required/>
                    <v-select v-model="newForm.type" :items="types"/>
                </v-form>
            </v-card-text>

            <v-card-actions class="py-4">
                <v-spacer/>
                <v-btn @click="dialog=false">Отмена</v-btn>
                <v-btn color="success" @click="onCreate" :disabled="!newFormValid">Сохранить</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</template>

<script>
import {slugify} from 'transliteration';

export default {

    props: {
        value:{},
        data: {}
    },

    data: () => ({

        types: [{
            value: "page",
            text: "Страница"
        }, {
            value: "component",
            text: "Компонент"
        }, {
            value: "form",
            text: "Форма"
        }],

        newForm: {
            id: null,
            title: null,
            key: null,
            type: "page",
        },
    }),

    computed: {

        dialog: {
            get() {return this.value},
            set(v) {this.$emit('input', v)}
        },

        newFormValid() {
            return !!this.newForm.key && !!this.newForm.title && !!this.newForm.type
        }
    },

    watch: {
        'newForm.title'(t) {
            this.newForm.key = slugify(t)
        },

        dialog(show) {
            if (show) {
                this.newForm.id = this.data.id
                this.newForm.key = this.data.key
                this.newForm.type = this.data.type
                this.newForm.title = this.data.title
            }
        }
    },

    methods: {
        onCreate() {
            if (this.newForm.id == null)
                this.$emit('create', {
                    key: this.newForm.key,
                    title: this.newForm.title,
                    type: this.newForm.type
                })
            else
                this.$emit('update', {
                    id: this.newForm.id,
                    key: this.newForm.key,
                    title: this.newForm.title,
                    type: this.newForm.type
                })
        },
    },

}
</script>
<style scoped>
</style>