<template>

    <div class="CodeMirrorWrapper">
        <textarea class="w-full h-full border" ref="cm" />
    </div>

</template>

<script>

import CodeMirror from 'codemirror';
import 'codemirror/addon/hint/show-hint';
import 'codemirror/addon/lint/lint';
import 'codemirror-graphql/hint';
import 'codemirror-graphql/lint';
import 'codemirror-graphql/mode';

import 'codemirror/lib/codemirror.css'
import 'codemirror/addon/hint/show-hint.css'
import {buildClientSchema} from "graphql";

export default {

    props: {
        schema: {},
        value: {},
    },

    data: () => ({
        codeMirror: null,
    }),

    watch: {
        value(v) {
            if (v) this.codeMirror.setValue(v)
        }
    },

    mounted() {
        let cm_schema = buildClientSchema(this.schema);

        this.codeMirror = CodeMirror.fromTextArea(this.$refs['cm'], {
            mode: 'graphql',
            lint: {
                schema: cm_schema,
            },
            hintOptions: {
                schema: cm_schema,
            },
            lineNumbers: true,
            extraKeys: {'Ctrl-Space': 'autocomplete'}
        });
        if (this.value) this.codeMirror.setValue(this.value)

        this.codeMirror.on('change', (cm) => {
            this.$emit('change', cm.getValue())
        })
    },

    destroyed() {
        this.codeMirror.toTextArea(this.$refs['cm']);
    },


}
</script>

<style scoped lang="scss">

.CodeMirrorWrapper ::v-deep .CodeMirror {
    height: 100%;
}

</style>

