<template>

    <div>
        <div v-for="model in models" :key="model.id" @click="selectModel(model)"
             class="p-4 flex flex justify-start items-center cursor-pointer w-full hover:text-orange-500 hover:shadow "
             :class="{'bg-gray-100': selectedModelKey === model.key}"
        >
            {{ model.name }}
        </div>
    </div>

</template>

<script>

import _ from 'lodash'

export default {

    props: {
        models: {
            required: true,
            type: Array,
        },
        autoSelectFirst: {
            type: Boolean,
            default: true,
        },
    },

    data: () => ({
        selectedModelKey: null,
    }),

    watch: {
        models(models) {
            if (models) {
                if( !!this.selectedModelKey ) {
                    const selIdx = _.findIndex(this.models, {key: this.selectedModelKey})
                    if (selIdx === -1)
                        this.selectedModelKey = null
                } else {
                    if (this.autoSelectFirst && this.models.length) {
                        this.selectModel(models[0])
                    }
                }
            }
        },
    },

    methods: {
        selectModel(model) {
            if (this.selectedModelKey !== model.key) {
                this.selectedModelKey = model.key
                this.$emit('select', model)
            }
        }
    }
}
</script>

<style scoped>

</style>