<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.1/mustache.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="/static/notifications.css">
    <script src="/static/notifications.js"></script>
    <script src="/static/axios.js"></script>

    <style>
        <%- css %>
    </style>

    <script>
        <%- include('notify-utils.js'); %>
        <%- include('graphql-utils.js'); %>
        <%- include('camunda-utils.js'); %>
    </script>

</head>
<body class="container">
<main>
    <%- html %>
</main>

</body>
</html>