<template>

    <div class="mx-32 my-20 shadow rounded flex flex-col">
        <div class="font-bold text-lg p-4 border-b">
            Сборка проекта
        </div>
        <div class="flex flex-row space-x-6 p-5">
            <div><button-submit @click="onBuild">Собрать</button-submit></div>
            <div><button-submit @click="onWatch">Просмотреть</button-submit></div>
        </div>
    </div>

</template>

<script>

import ButtonSubmit from "@/components/ButtonSubmit";
import api from '@/api'

export default {
    name: "Builder",
    components: {ButtonSubmit},

    data: () => ({
        loading: false
    }),

    methods: {
        onBuild() {
            this.loading = true
            api.builder.rebuild()
            .finally(() => this.loading = false)
        },

        onWatch() {
            window.open('http://localhost:8181/', '_blank').focus();
        },
    }
}
</script>

<style scoped>

</style>