<template>

    <div class="flex h-screen w-screen">

        <aside class="flex-none flex flex-col justify-between border-r overflow-y-auto">

            <div class="flex flex-col justify-center items-center">

                <router-link :to="{name: 'main'}"
                             class="h-14 p-3 flex-none flex justify-center items-center hover:bg-gray-100 cursor-pointer border-b">
                    <img src="@/assets/logo.png" class="h-6 w-6" alt="Appliner">
                </router-link>

<!--                <router-link :to="{name: 'builder'}"  active-class="bg-gray-200"-->
<!--                             class="flex justify-center items-center hover:shadow cursor-pointer p-3 border-b">-->
<!--                    <svg class="h-8 w-8 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
<!--                        <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--                        <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"/>-->
<!--                        <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"/>-->
<!--                        <circle cx="15" cy="9" r="1"/>-->
<!--                    </svg>-->
<!--                </router-link>-->

                <router-link :to="{name: 'data-model'}" active-class="bg-gray-200"
                             class="flex justify-center items-center hover:shadow cursor-pointer p-3">
                    <svg class="h-8 w-8 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <ellipse cx="12" cy="6" rx="8" ry="3"></ellipse>
                        <path d="M4 6v6a8 3 0 0 0 16 0v-6"/>
                        <path d="M4 12v6a8 3 0 0 0 16 0v-6"/>
                    </svg>
                </router-link>

                <router-link :to="{name: 'forms'}"  active-class="bg-gray-200"
                             class="flex justify-center items-center hover:shadow cursor-pointer p-3">
                    <svg class="h-8 w-8 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2"/>
                    </svg>
                </router-link>

                <router-link :to="{name: 'processes'}" active-class="bg-gray-200"
                             class="flex justify-center items-center hover:shadow cursor-pointer p-3">
                    <svg class="h-8 w-8 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <circle cx="7" cy="18" r="2"/>
                        <circle cx="7" cy="6" r="2"/>
                        <circle cx="17" cy="6" r="2"/>
                        <line x1="7" y1="8" x2="7" y2="16"/>
                        <path d="M9 18h6a2 2 0 0 0 2 -2v-5"/>
                        <polyline points="14 14 17 11 20 14"/>
                    </svg>
                </router-link>

            </div>

            <div class="flex flex-col ">
                <!--                &lt;!&ndash;Нижнее меню&#45;&#45;-->
            </div>

        </aside>

        <div class="min-w-0 flex-grow">
            <router-view/>
        </div>

    </div>

</template>

<script>
export default {
    components: { }
}
</script>

<style scoped>

</style>